<!-- Sidebar  -->
<div>
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a routerLink="/404">
            <img src="assets/images/logo.png" class="img-fluid" alt="">
            <span>XRay</span>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-more-fill"></i></div>
                    <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dashboard</span></li>
                <li class="active">
                    <a routerLink="/404" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Doctor
                            Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="dashboard-1.html" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Hospital
                            Dashboard 1 </span></a>
                </li>
                <li>
                    <a routerLink="dashboard-2.html" class="iq-waves-effect"><i
                            class="ri-briefcase-4-fill"></i><span>Hospital Dashboard 2</span></a>
                </li>
                <li>
                    <a routerLink="dashboard-3.html" class="iq-waves-effect"><i class="ri-group-fill"></i><span>Patient
                            Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="dashboard-4.html" class="iq-waves-effect"><i class="lab la-mendeley"></i><span>Covid-19
                            Dashboard</span><span class="badge badge-danger">New</span></a>
                </li>
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Apps</span></li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-mail-open-fill"></i><span>Email</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="app//404"><i class="ri-inbox-fill"></i>Inbox</a></li>
                        <li><a routerLink="app/email-compose.html"><i class="ri-edit-2-fill"></i>Email Compose</a></li>
                    </ul>
                </li>

                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-user-3-fill"></i><span>Doctors</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="doctor-list.html"><i class="ri-file-list-fill"></i>All Doctors</a></li>
                        <li><a routerLink="add-doctor.html"><i class="ri-user-add-fill"></i> Add Doctor</a></li>
                        <li><a routerLink="profile.html"><i class="ri-profile-fill"></i>Doctor Profile</a></li>
                        <li><a routerLink="profile-edit.html"><i class="ri-file-edit-fill"></i> Edit Doctor</a></li>
                    </ul>
                </li>
                <li><a routerLink="calendar.html" class="iq-waves-effect"><i
                            class="ri-calendar-event-fill"></i><span>Calendar</span></a></li>

                <li><a routerLink="chat.html" class="iq-waves-effect"><i class="ri-message-fill"></i><span>Chat</span></a>
                </li>


                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Components</span></li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i class="ri-apps-fill"></i><span>UI
                            Elements</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="ui-colors.html"><i class="ri-font-color"></i>colors</a></li>
                        <li><a routerLink="ui-typography.html"><i class="ri-text"></i>Typography</a></li>
                        <li><a routerLink="ui-alerts.html"><i class="ri-alert-fill"></i>Alerts</a></li>
                        <li><a routerLink="ui-badges.html"><i class="ri-building-3-fill"></i>Badges</a></li>
                        <li><a routerLink="ui-breadcrumb.html"><i class="ri-guide-fill"></i>Breadcrumb</a></li>
                        <li><a routerLink="ui-buttons.html"><i class="ri-checkbox-blank-fill"></i>Buttons</a></li>
                        <li><a routerLink="ui-cards.html"><i class="ri-bank-card-fill"></i>Cards</a></li>
                        <li><a routerLink="ui-carousel.html"><i class="ri-slideshow-4-fill"></i>Carousel</a></li>
                        <li><a routerLink="ui-embed-video.html"><i class="ri-movie-fill"></i>Video</a></li>
                        <li><a routerLink="ui-grid.html"><i class="ri-grid-fill"></i>Grid</a></li>
                        <li><a routerLink="ui-images.html"><i class="ri-image-fill"></i>Images</a></li>
                        <li><a routerLink="ui-list-group.html"><i class="ri-file-list-fill"></i>list Group</a></li>
                        <li><a routerLink="ui-modal.html"><i class="ri-checkbox-blank-fill"></i>Modal</a></li>
                        <li><a routerLink="ui-notifications.html"><i class="ri-notification-3-fill"></i>Notifications</a>
                        </li>
                        <li><a routerLink="ui-pagination.html"><i class="ri-more-fill"></i>Pagination</a></li>
                        <li><a routerLink="ui-popovers.html"><i class="ri-folder-shield-fill"></i>Popovers</a></li>
                        <li><a routerLink="ui-progressbars.html"><i class="ri-battery-low-fill"></i>Progressbars</a></li>
                        <li><a routerLink="ui-tabs.html"><i class="ri-database-fill"></i>Tabs</a></li>
                        <li><a routerLink="ui-tooltips.html"><i class="ri-record-mail-fill"></i>Tooltips</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-device-fill"></i><span>Forms</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="form-layout.html"><i class="ri-tablet-fill"></i>Form Elements</a></li>
                        <li><a routerLink="form-validation.html"><i class="ri-device-fill"></i>Form Validation</a></li>
                        <li><a routerLink="form-switch.html"><i class="ri-toggle-fill"></i>Form Switch</a></li>
                        <li><a routerLink="form-chechbox.html"><i class="ri-chat-check-fill"></i>Form Checkbox</a></li>
                        <li><a routerLink="form-radio.html"><i class="ri-radio-button-fill"></i>Form Radio</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-file-word-fill"></i><span>Forms Wizard</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="form-wizard.html"><i class="ri-anticlockwise-fill"></i>Simple Wizard</a></li>
                        <li><a routerLink="form-wizard-validate.html"><i class="ri-anticlockwise-2-fill"></i>Validate
                                Wizard</a></li>
                        <li><a routerLink="form-wizard-vertical.html"><i class="ri-clockwise-fill"></i>Vertical Wizard</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-table-fill"></i><span>Table</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="tables-basic.html"><i class="ri-table-fill"></i>Basic Tables</a></li>
                        <li><a routerLink="data-table.html"><i class="ri-table-2"></i>Data Table</a></li>
                        <li><a routerLink="table-editable.html"><i class="ri-archive-drawer-fill"></i>Editable Table</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-bar-chart-2-fill"></i><span>Charts</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="charts.html"><i class="ri-file-chart-fill"></i>Chart Page</a></li>
                        <li><a routerLink="echart.html"><i class="ri-bar-chart-fill"></i>ECharts</a></li>
                        <li><a routerLink="chart-am.html"><i class="ri-bar-chart-box-fill"></i>Am Charts</a></li>
                        <li><a routerLink="chart-apex.html"><i class="ri-pie-chart-box-fill"></i>Apex Chart</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-copper-coin-fill"></i><span>Icons</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="icon-dripicons.html"><i class="ri-stack-fill"></i>Dripicons</a></li>
                        <li><a routerLink="icon-fontawesome-5.html"><i class="ri-facebook-fill"></i>Font Awesome 5</a>
                        </li>
                        <li><a routerLink="icon-lineawesome.html"><i class="ri-keynote-fill"></i>line Awesome</a></li>
                        <li><a routerLink="icon-remixicon.html"><i class="ri-remixicon-fill"></i>Remixicon</a></li>
                        <li><a routerLink="icon-unicons.html"><i class="ri-underline"></i>unicons</a></li>
                    </ul>
                </li>
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Pages</span></li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-server-fill"></i><span>Authentication</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="sign-in.html"><i class="ri-login-box-fill"></i>Login</a></li>
                        <li><a routerLink="sign-up.html"><i class="ri-logout-box-fill"></i>Register</a></li>
                        <li><a routerLink="pages-recoverpw.html"><i class="ri-record-mail-fill"></i>Recover Password</a>
                        </li>
                        <li><a routerLink="pages-confirm-mail.html"><i class="ri-chat-check-fill"></i>Confirm Mail</a>
                        </li>
                        <li><a routerLink="pages-lock-screen.html"><i class="ri-file-lock-fill"></i>Lock Screen</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-map-pin-2-fill"></i><span>Maps</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="pages-map.html"><i class="ri-google-fill"></i>Google Map</a></li>
                        <li><a routerLink="vector.html"><i class="ri-map-pin-range-line"></i>Vector Map</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i class="ri-folders-fill"></i><span>Extra
                            Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="pages-timeline.html"><i class="ri-map-pin-time-fill"></i>Timeline</a></li>
                        <li><a routerLink="pages-invoice.html"><i class="ri-question-answer-fill"></i>Invoice</a></li>
                        <li><a routerLink="blank-page.html"><i class="ri-checkbox-blank-fill"></i>Blank Page</a></li>
                        <li><a routerLink="pages-error.html"><i class="ri-error-warning-fill"></i>Error 404</a></li>
                        <li><a routerLink="pages-error-500.html"><i class="ri-error-warning-fill"></i>Error 500</a></li>
                        <li><a routerLink="pages-pricing.html"><i class="ri-price-tag-3-fill"></i>Pricing</a></li>
                        <li><a routerLink="pages-pricing-one.html"><i class="ri-price-tag-2-fill"></i>Pricing 1</a></li>
                        <li><a routerLink="pages-maintenance.html"><i
                                    class="ri-git-repository-commits-fill"></i>Maintenance</a></li>
                        <li><a routerLink="pages-comingsoon.html"><i class="ri-run-fill"></i>Coming Soon</a></li>
                        <li><a routerLink="pages-faq.html"><i class="ri-compasses-2-fill"></i>Faq</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>