<div class="container-fluid py-0">
    <div class="row no-gutters">
        <div class="col-sm-12 text-center">
            <div class="iq-error pb-5">
              <h1 class="text-primary">404</h1>
                <h2 class="mb-0">Oops! This Page is Not Found.</h2>
                <p>The requested page dose not exist.</p>
                <div class="">
                    <a class="btn btn-primary" routerLink="/dashboard/home"><i class="ri-home-4-line"></i>Back to Home</a> 
                </div>                           
            </div>
        </div>
    </div>
</div>